/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* COLORS
utama => #69AB3D */

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

figcaption,
p,
blockquote {
  font-weight: 400;
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5 {
  color: #313131;
}

a {
  text-decoration: none;
  color: #69ab3d;
}

header {
  background-color: white;
  position: sticky;
  align-self: flex-start;
  top: 0;
  z-index: 100;
}

#homepage {
  height: 70vh;
  overflow: hidden;
  position: relative;
  background-color: rgba(105, 171, 61, 0.01);
}

.nav-mobile{
 display: none;
}

.pattern {
  top: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.3;
}

.home-section {
  height: 100%;
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em;
  padding-left: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 50%;
}

.home-image {
  width: 50%;
}

.home-image img {
  width: 40em;
}

.home-title {
  font-size: 3em;
  line-height: 1.25em;
}

.home-deskripsi {
  font-size: 1.25em;
}

.home-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.button-donasi {
  color: white;
  cursor: pointer;
  border: none;
  background-color: #69ab3d;
  border: solid 1px #69ab3d;
  border-radius: 2em;
  font-size: 1em;
  padding: 0.8em 2em;
  transition: all 0.4s ease-in-out;
}

.button-donasi:hover {
  color: #313131;
  border: solid 1px #69ab3d;
  background-color: transparent;
}

.button-selengkapnya {
  color: #7d7e7d;
  cursor: pointer;
  border: solid 1px #69ab3d;
  background-color: transparent;
  border-radius: 2em;
  font-size: 1em;
  padding: 0.8em 2em;
  transition: all 0.4s ease-in-out;
}

.button-selengkapnya:hover {
  color: white;
  background-color: #69ab3d;
  border: solid 1px #69ab3d;
}

#komunitas {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 8em;
  padding-bottom: 8em;
}

.title-komunitas {
  font-weight: 700;
  text-transform: uppercase;
  color: #69ab3d;
  letter-spacing: 0.2em;
  font-size: 1em;
}

.intro-komunitas {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  gap: 10em;
  padding-bottom: 2em;
  justify-content: center;
  align-items: flex-start;
}

.intro-komunitas .sub-title-komunitas {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.intro-komunitas .deskripsi-komunitas {
  font-size: 1.25em;
  max-width: 40%;
}

.bagian-komunitas {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.volunteer,
.donatur,
.penyelenggara {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.1);
  -webkit-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.1);
  -moz-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.1);
  border-color: black;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.volunteer:hover,
.donatur:hover,
.penyelenggara:hover {
  transform: translateY(-0.5em);
  box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.2);
  -webkit-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.2);
  -moz-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.2);
}

.volunteer,
.donatur,
.penyelenggara,
h3 {
  font-size: 1.5em;
}

.volunteer,
.donatur,
.penyelenggara,
figcaption {
  font-size: 1em;
}

.bagian-komunitas img {
  width: 5em;
}

.link-komunitas {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tentang {
  padding-top: 8em;
  padding-bottom: 8em;
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em;
  padding-left: 4em;
  position: relative;
}

.title-tentang {
  font-weight: 700;
  text-transform: uppercase;
  color: #69ab3d;
  letter-spacing: 0.2em;
  font-size: 1em;
  padding-bottom: 0.5em;
}

.title-tentang-hutan {
  font-weight: 700;
  color: #69ab3d;
  font-size: 1em;
  padding-bottom: 0.5em;
}

.container-tentang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10em;
}

.container-tentang .ilustrasi img {
  width: 45em;
}

.deskripsi-hutan {
  flex-basis: 50%;
  font-size: 1.25em;

  text-align: justify;
}

.ilustrasi {
  flex-basis: 50%;
}

#notifikasi {
  padding-top: 8em;
  padding-bottom: 8em;
  overflow: hidden;
  position: relative;
  background-color: rgba(105, 171, 61, 0.01);
}

.container-notifikasi {
  text-align: center;
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em;
  padding-left: 4em;
}

.title-notifikasi {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.deskripsi-notifikasi {
  font-size: 1.25em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 40%;
  margin-bottom: 1em;
}

.email-form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 25em;
}

.email-input {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 9em;
  height: 100%;
  width: 100%;
  border-radius: 2em;
  outline: solid 1px #313131;
  border: none;
}

.email-input:focus {
  outline: solid 1px #69ab3d;
}

.email-submit {
  background-color: #69ab3d;
  cursor: pointer;
  color: white;
  padding: 0.7em 2em;
  border-radius: 2em;
  border: none;
  overflow: hidden;
  position: absolute;
  right: 0.5em;
}

#biodata {
  overflow: hidden;
  padding-top: 8em;
  padding-bottom: 8em;
  position: relative;
  background-color: rgba(105, 171, 61, 0.01);
}

.biodata-container {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em;
  padding-left: 4em;
}

.card {
  z-index: 10;
  gap: 1em;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.1);
  -webkit-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.1);
  -moz-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.1);
  border-color: black;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-0.5em);
  box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.2);
  -webkit-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.2);
  -moz-box-shadow: 0px 0px 40px 10px rgba(202, 202, 202, 0.2);
}

.card-konten {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 4em;
  padding-right: 4em;
}

.foto-biodata {
  flex-basis: 30%;
}

.foto-biodata img {
  width: 80%;
}

.isi-biodata-1 {
  gap: 1em;
  font-size: 1.25em;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}

.isi-biodata-2 {
  margin: 1em;
  gap: 1em;
  font-size: 1.25em;
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
}

.title-biodata {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.5em;
  text-align: center;
  width: 100%;
}

.list-biodata {
  width: 70%;
  border-bottom: 1px solid #69ab3d;
}


footer {
  background-color: #313131;
  height: auto;
  width: 100%;
  position: absolute;
  margin-top: auto;
}

.footer-container {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 1.5em;
  width: 100%;
 padding-top: 1em;
 text-align: right;
  
}

.logo-footer {
  flex-basis: 40%;
  justify-content: flex-end;
  align-items: flex-end;
}

.link-footer-1,
.link-footer-2,
.link-footer-3 {
  width: 50%;
}

footer .footer-logo {
  width: 15em;
}

footer ul li {
  text-decoration: none;
  list-style: none;
}

.footer-section{
  display: flex;
  flex-direction: row;
}

.footer-title {
  font-size: 1.25em;
  color: white;
  padding-bottom: 1em;
}

.link-footer-3,
.sub-footer {
  font-size: 1em;
  color: #7d7e7d;
}

.link-footer-2,
.sub-footer {
  font-size: 1em;
  color: #7d7e7d;
}

.link-footer-1,
.sub-footer {
  font-size: 1em;
  color: #7d7e7d;
}

.social-icon {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding-left: 0.5em;
}

.social-icon svg {
  cursor: pointer;
  width: 1.5em;
}

.copyright {
  border-top: 1px solid #7d7e7d;
  color: #7d7e7d;
  padding-top: 1.5em;
}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
  .ilustrasi {
    flex-basis: 0;
  }
}


@media only screen and (max-width: 1600px) and (min-width: 1280px) {
  #homepage,
  #komunitas,
  #notifikasi,
  #tentang,
  #biodata {
    font-size: 0.75em;
  }

  header,
  footer {
    font-size: 0.875em;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 640px) {
  #homepage,
  #komunitas,
  #notifikasi,
  #tentang,
  #biodata {
    font-size: 0.5em;
  }

  header,
  footer {
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 1024px) {
  .menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 3em;
  }

  .menu-link a {
    color: #313131;
    font-size: 1.125em;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

  .menu-link li a.active {
    border-bottom: 1px solid #69ab3d;
  }

  .menu-mobile {
    display: none;
  }

  header .main-logo {
    width: 17em;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    max-width: 1560px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1023px) {
  #homepage,
  #komunitas,
  #notifikasi,
  #tentang,
  #biodata {
    font-size: 0.75em;
  }

  .menu-link {
    display: none;
  }

  .menu-mobile svg {
    cursor: pointer;
    width: 2em;
  }

  header .main-logo {
    width: 12em;
  }

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    top: 0;
    position: sticky;
  }

  .nav-mobile {
    position: absolute;
    background-color: white;
    width: 100%;
    flex-direction: column;
    list-style: none;
    gap: 1em;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
  }

  .nav-mobile a {
    color: #313131;
    font-size: 1.125em;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }

  .nav-mobile li a.active {
    border-bottom: 1px solid #69ab3d;
  }

}

@media only screen and (max-width: 1023px) {

  #homepage{
    height: 100%;
    padding-bottom: 5em;
  }
  
  .home-section {
    display: flex;
    flex-direction: column;
    font-size: 0.75em;
    width: auto;
    gap: 0;
    padding-left: 2em;
    padding-right: 2em;
  }

  .home-image {
    width: 100%;
    text-align: center;
  }

  .home-image img {
    max-width: 32em;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    max-width: 100%;
    flex-wrap: wrap;
  }

  #komunitas {
    padding-top: 0;
    padding-bottom: 5em;
    padding-right: 2em;
    padding-left: 2em;
    font-size: 0.625em;
  }

  .intro-komunitas {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .intro-komunitas .deskripsi-komunitas {
    max-width: 100%;
  }

  .bagian-komunitas {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  #notifikasi {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    font-size: 0.625em;
  }

  .container-notifikasi {
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
  }

  .deskripsi-notifikasi {
    max-width: 100%;
  }

  #tentang {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    padding-right: 2em;
    padding-left: 2em;
    font-size: 0.625em;
  }

  .container-tentang {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .container-tentang .ilustrasi img {
    max-width: 30em;
  }

  .ilustrasi {
    flex-basis: 0;
    width: 100%;
    text-align: center;
  }

  #biodata {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    font-size: 0.625em;
  }

  .biodata-container {
    padding-right: 2em;
    padding-left: 2em;
  }

  .card-konten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .foto-biodata {
    text-align: center;
    flex-basis: 100%;
    width: 100%;
  }

  .foto-biodata img {
    max-width: 20em;
  }

  .isi-biodata-1,
  .isi-biodata-2 {
    gap: 1em;
    font-size: 1.25em;
    flex-basis: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .list-biodata {
    width: 100%;
  }

  footer {
    font-size: 0.75em;
  }

  .footer-container {
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 2.5em;
  }

  .footer-section{
    display: flex;
    flex-direction: column;
  }

  .footer-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1.5em;
    text-align: left;
    gap: 1em;
  }


  .link-footer-1,
  .link-footer-2,
  .link-footer-3 {
    width: auto;
  }

  .footer-title {
    padding-bottom: .5em;
  }
}
